[
    {sasl, [
        {sasl_error_logger, {file, "log/sasl.log"}}
    ]},
    {kernel, [
        {error_logger, silent}
    ]},
    {lager, [
        {log_root, "log/"},
        {error_logger_hwm, 1000},
        {handlers, [
            {lager_console_backend, [{level, debug}]},
            {lager_file_backend, [{file, "error.log"}, {level, error}]},
            {lager_file_backend, [
                {file, "debug.log"},
                {level, debug},
                {size, 100000000},
                {date, ""},
                {count, 10},
                {formatter, lager_default_formatter},
                {formatter_config, [date, " ", time, " [", severity, "] ", pid, " ", message, "\n"]}
            ]}
        ]},
        {crash_log, "crash.log"}
    ]},

    {ditax_router, [
        {source,{source,5558}},
        {destinations, [
            {destination, 'tcp_test1', main, ditax_router_tcp_handler, [
                {ip, {127,0,0,1}},
                {port, 5555}
            ]},
            {destination, 'tcp_test2', additional, ditax_router_tcp_handler, [
                {ip, {127,0,0,1}},
                {port, 5556}
            ]}
        ]}
    ]}
].
